body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }
  html,
  body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  #map {
    width: 100%; 
    height: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    position: relative;
    height: 100vh;
  }

  #map svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 1;
  }

  #map svg circle {
    pointer-events: auto;
    fill-opacity: 0.6;
    stroke: white;
    stroke-width: 1px;
  }
 
